<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
  </head>
  <body>
    <div class="login hide-login">
      <form class="login-container hide-form" method="POST" action="login">
        <img
          src="https://image.flaticon.com/icons/png/512/2922/2922532.png"
          alt=""
        />
        <div class="input-container hide-section">
          <p><input type="email" placeholder="Email" name="email" /></p>
          <p>
            <input type="password" placeholder="Password" name="password" />
          </p>
          <p><input type="button" value="Log in" /></p>
        </div>
      </form>
    </div>
    <script src="js/animate.js"></script>
  </body>
</html>
